{% extends 'baseback.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ evenement.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>DateE</th>
                <td>{{ evenement.dateE ? evenement.dateE|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img style="max-width:100px;" src="{{ asset('uploads/images/' ~ evenement.image) }}" alt="not found"></td>
            </tr>
                <tr>
                <th>Action</th>
                <td>{{ include('evenement/_delete_form.html.twig') }}</td>
            </tr>
        </tbody>
    </table>

    <style>
        .button-container {
            width: 100%;
            text-align: center;
        }
        .button-container a {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
        }
    </style>

   <div class="button-container">
        <a style="margin-right:70%;" href="{{ path('app_evenement_index') }}">Back to List</a>
        <a href="{{ path('app_pdf_generator', {'id': evenement.id}) }}">PDF</a>
        <a style="background-color:green;" href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">Edit</a>
    </div>
{% endblock %}
