<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta name="description" content=""/>
		<link rel="icon" type="image/x-icon" href="../assets/img/images/Logo.png"/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css"/>
		<link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css"/>
		<link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
		<link rel="stylesheet" href="../assets/css/demo.css"/>
		<link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
		<script src="../assets/vendor/js/helpers.js"></script>
		<script src="../assets/js/config.js"></script>
	</head>

	<body>
		<div class="layout-wrapper layout-content-navbar">
			<div class="layout-container">
				<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
					<div class="app-brand demo">
						<a href="{{ path('app_res') }}" class="app-brand-link">
							<span class="app-brand-text demo menu-text fw-bolder ms-2">SYMFONY</span>
						</a>
						<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
							<i class="bx bx-chevron-left bx-sm align-middle"></i>
						</a>
					</div>

					<div class="menu-inner-shadow"></div>

					<ul class="menu-inner py-1">
						<li class="menu-item">
							<a href="{{ path('app_res') }}" class="menu-link">
								<i class="menu-icon tf-icons bx bx-home-circle"></i>
								<div data-i18n="Analytics">Acceuil</div>
							</a>
						</li>


						<li class="menu-header small text-uppercase">
							<span class="menu-header-text">Gestions</span>
						</li>
						<li class="menu-item">
							<a href="javascript:void(0);" class="menu-link menu-toggle">
								<i class="menu-icon tf-icons bx bx-dock-top"></i>
								<div data-i18n="Account Settings">Consultations</div>
							</a>
							<ul class="menu-sub">
								<li class="menu-item">
									<a href="{{path('app_admin')}}" class="menu-link">
										<div data-i18n="Account">Consulations</div>
									</a>
								</li>
								<li class="menu-item">
									<a href="{{path('app_admin_spec')}}" class="menu-link">
										<div data-i18n="Notifications">Specialites</div>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</aside>
				<div class="layout-page">

					<div class="content-wrapper">
						<div class="container-xxl flex-grow-1 container-p-y">
							<div class="row">
								<div class="col-md-12">
									<div class="card mb-4">
										<h5 class="card-header">List des consulations</h5>
										<hr class="my-0">
										<div class="card-body">
											<div class="table-responsive text-nowrap">
												<table class="table table-hover" id="tableac">
													<thead>
														<tr>
															<th>ID</th>
															<th>Adresse</th>
															<th>Date</th>
															<th>Heure</th>
															<th>Specialite</th>
															<th>Actions</th>
														</tr>
													</thead>
													<tbody class="table-border-bottom-0">
														{% for cons in cons %}
															<tr>
																<td>{{ cons.id }}</td>
																<td>{{ cons.adresse }}</td>
																<td>{{ cons.date ? cons.date|date('d/m/Y') : '' }}</td>
																<td>{{ cons.heure|date('H:i') }}</td>
																<td>{{ cons.specialite.getNom()}}</td>
																<td>
																	<a type="button" class="badge badge-center bg-label-primary modify-btn" href="{{ path('app_admin_consedit', {'id': cons.id}) }}">
																		<span class="tf-icons bx bx-edit-alt"></span>
																	</a>
																	<a class="badge badge-center bg-label-primary" href="{{ path('app_admin_conssupp',{'id':cons.id}) }}">
																		<span class="tf-icons bx bx-trash"></span>
																	</a>
																</td>
															</tr>
														{% endfor %}
													</tbody>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-backdrop fade"></div>
				</div>
			</div>
		</div>
		<div class="layout-overlay layout-menu-toggle"></div>
	</body>
</html></div><script src="../assets/vendor/libs/jquery/jquery.js"></script><script src="../assets/vendor/libs/popper/popper.js"></script><script src="../assets/vendor/js/bootstrap.js"></script><script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script><script src="../assets/vendor/js/menu.js"></script><script src="../assets/js/main.js"></script></body></html>

